.rightcolumn {
    width: 50%;
    height: 650px;
    overflow-y: scroll;
}

.leftcolumn {
    width: 50%;
    height: 600px;
}

.row {
    display: flex;
}

.protests {
    padding-top: 10px;
    /* background-color: aqua; */
}
